body {
    background-color: #183461;
    color: white;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

.section-div {
    width: 60%;
    margin: 25px auto;
    border: 3px solid white;
    padding: 25px;
    text-align: center;
}

.section-title {
    font-size: 1.5em;
    border-bottom: 1px solid white;
    margin-bottom: 25px;
    font-weight: bold;
}

.game-section:not(:last-child) {
    border-bottom: 1px solid white;
    margin-bottom: 25px;
    padding-bottom: 25px;
}

.game-link-button {
    border: 1px solid white;
    width: 200px;
    height: 50px;
    margin: 25px auto;
    line-height: 50px;
    cursor: pointer;
    font-weight: bold;
}

.game-link-button:hover {
    background-color: rgba(255,255,255,0.1);
}

#about-div {
    font-size: 1.5em;
    text-decoration: underline;
    font-weight: bold;
}