body {
    background-color: rgb(34,34,34);
    color: white;
    font-family: 'Roboto', sans-serif;
    background-image: url(logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a {
    text-decoration: none;
    color: white;
}

.section-div {
    width: 60%;
    margin: 25px auto;
    border: 3px solid white;
    padding: 25px;
    text-align: center;
}

.section-title {
    font-size: 1.5em;
    border-bottom: 1px solid white;
    margin-bottom: 25px;
    font-weight: bold;
}

.game-section:not(:last-child) {
    border-bottom: 1px solid white;
    margin-bottom: 25px;
    padding-bottom: 25px;
}

.game-link-button {
    background-color: rgb(34,34,34);
    border: 1px solid white;
    width: 200px;
    height: 50px;
    margin: 25px auto;
    line-height: 50px;
    cursor: pointer;
    font-weight: bold;
}

.game-link-button:hover {
    background-color: rgb(75, 75, 75);
}

#about-div {
    font-size: 1.5em;
    text-decoration: underline;
    font-weight: bold;
}